---
import { Image } from "astro:assets";
import { questions } from "../constants/questions";
import plusIcon from "../images/svg/plus.svg";
import minusIcon from "../images/svg/minus.svg";
---

<div class="questions">
  {
    questions.map((item, index) => {
      return (
        <div class="question">
          <div class="question-header">
            <strong>{item.question} </strong>
            <button class="toggle-question">
              <Image
                loading="lazy"
                id="question-icon"
                class={`question-icon-${index}`}
                src={index === 0 ? minusIcon : plusIcon}
                alt="Open answer"
                width="24"
              />
            </button>
          </div>
          <p id={`answer-${index}`}>{item.answer}</p>
        </div>
      );
    })
  }
</div>

<script>
  // @ts-nocheck
  const toggleAnswer = (index) => {
    const answer = document.getElementById(`answer-${index}`);
    const icon = document.querySelector(`.question-icon-${index}`);

   
    if (icon.src.includes('plus')) {
      icon.src = "/images/minus.svg";
      answer.style.maxHeight = answer.scrollHeight + "px";
    } else {
      icon.src = "/images/plus.svg";
      answer.style.maxHeight = "0px"; 
    }
  };

  document.querySelectorAll(".toggle-question").forEach((element, index) => {
    element.addEventListener("click", () => {
      toggleAnswer(index);
    });
  });

  window.onload = () => {
    const firstAnswer = document.getElementById('answer-0');
    if (firstAnswer) {
      firstAnswer.style.maxHeight = firstAnswer.scrollHeight + "px";
    }
  };

</script>

<style lang="scss">
  div.questions {
    flex: 1;
    button {
      padding: 0;
      width: auto;
      height: auto;
      background-color: transparent;
    }
    div.question {
      margin-bottom: 1.5rem;
      div.question-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      img#question-icon {
        transition: 0.5s ease-in-out;
      }

      p {
        transition: max-height 0.5s ease-in-out;
        max-height: auto; 
        overflow: hidden;
      }
      &:not(:first-child) p {
        overflow: hidden;
        max-height: 0px; 
        transition: max-height 0.5s ease-in-out;
      }
    }
  }
</style>
